[global_config]
  title_transmit_bg_color = "5F8A0F"
[profiles]
  [[bizarre-paper]]
    background_color = "#F9F8F2"
    foreground_color = "#1F1F1F"
    cursor_color = "#5F8A0F"
    palette = "1A1A1A:C13039:3F7A1F:9F4A0E:1F4FB0:7E2A9A:0F6E6E:545454:7A7568:E04050:5F8A0F:C28225:3D78C7:A55EAF:4FA3A3:0E0E0E"
    font = "Monaspace Neon 13"
    use_system_font = False
